{{template "base" .}}

{{define "content"}}

<h1 align="left">Verify your Email Address</h1>

<div class="sign-up">
    <p>Hello, {{ .DataMap.FirstName }} {{ .DataMap.LastName }}!</p>
    <p>Use the  OTP to reset your password.</p>
    <p>OTP: {{ .DataMap.OTP }}</p>

    <p>This OTP is valid for a limited time and will expire in five minutes. To complete the account verification process, please follow these steps:</p>

</div>

{{end}}